
body {
    font-family: "PT Sans",sans-serif;
    margin:0px;
}
header {
    width: 100%;
    height: 90px;
    margin: 0px;
    background-color: #292c2f;
    color: white;
    text-shadow: 0 0 3px rgba(0,0,0,.3);
}
.bubble img {
    width: 200px;
    left:10px;
    top:-10px;
    position: absolute;
}
header a {
    color: white;
    text-decoration: none;
}
.top {
    display: flex;
    justify-content: space-between;
}
.middle img {
    position: absolute;
    top: 29px;
    left: 30px;
    width: 110px;
    padding: 0px;

}
header .top .topleft {
    display: flex;
    align-items: center;
}
header button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
header .top .topright {
    opacity: 1;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
    background-size:0px;
    border-radius: 30px;
    align-items: center;
}
.top a {
    padding: 10px;
    position: relative;
    transition: 0.5s;
    opacity: 0.5;
}
.top i {
    color: white;
}
.NAV:hover a {
    opacity:1;
    right: 0;
}
.topleft:hover a {
    opacity:1;
    right: 0;
}

body
{   
    margin: 0px;
}
@keyframes live {
    0% {    background-color: rgb(169, 35, 35);}
    50% {background-color: rgb(223, 0, 0);}
    100% {    background-color: rgb(169, 35, 35);}
}
body .left {
    height: 30px;
    border: 3px;
    border-left:0;
    border-right:0;
    border-bottom:0;
    border-style: solid;
    animation-name: live;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    background-color: rgb(169, 35, 35);
    text-align: center;
    box-shadow: 5px 8px 14px -7px rgba(0,0,0,0.54);
    margin:0;
    padding:0;
}
body .left button {
    position: absolute;
    left: 120px;
    top: 93px;
    margin: 2px;
    width: 40px;
    height: 25px;
    color:rgb(23, 23, 23);
    background-color: rgb(252, 252, 252);
    border-color: rgb(0, 0, 0);;
    border-radius: 100px;
    border-style: solid;
    cursor: pointer;
}
body .left video {
    height: 0px;
}
body .left p {
    display: flex;
    margin:0;
    text-align: center;
    justify-content: center;
    color: white;
    align-items: center;
}
body .right {
    display: flex;
    height: 80vh;
    color: black;
    margin:0;
}
body .right .CHAT {
    opacity: 1;
    width: 100%;
    margin:0;
}
.liveStatus {
    display: flex;
    flex-direction: row;
}
.right {
    margin:0;
    padding:0;
}
.marquee {
    line-height: 1px;
    background-color: #292c2f;
	color: white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 35s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
.INFO {
    position: absolute;
    top:68px;
    right:0px;
}
.INFOP {
    opacity:0;
    position:absolute;
    font-size: 10px;
    top: 90px;
    right:0px;
    background-color: rgba(255, 255, 255, 0.667);;
    color:black;
    border-radius:5px;
}
.IN:hover .INFOP {
    opacity:1;
}