body{
    display:flex;
    flex-direction:row;
    justify-content:center;
    background:rgb(0, 0, 0);
    font-family:monospace;
    overflow:hidden;
    color:white;
    margin: 0;
}
canvas{
    position:absolute;
    width:100vw;
    height:100vh;
    z-index: -500;
}
#history {
    display:none;
}
#history_button_b {
    display:none;
}

/*
LEFT MAIN CONTAINS
    -live player elements
    -marquee
    -chat
*/
.left_main{

    width:70%;
    height:90vh;
    margin:10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.live_header{
    background-color: rgb(14, 12, 12);
    height:30px;
    display: flex;
    flex-direction: row;
    align-items: center;

    border:1px;
    border-color: rgb(255, 255, 255);
    border-style:solid;
    padding-left:10px;
    padding-right:10px;
}
.live_header marquee{
    color:white;
}
.live_header button{
    margin-left:10px;
    margin-right:10px;
    background-color: transparent;
    border-style:none;
}
.live_header i{
    transform:scale(1,1);
    font-size:13pt;
    color:white;
}

/*
    Blinking 'LIVE'
*/
.live_header p{
    transform: scale(1.4, 2);
    background-color: rgba(0, 0, 255, 0);
    color:white;
    font-family:monospace;
    font-weight:bold;
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0% {color: red;}
    50% {color: rgb(255, 139, 139);}
    100% {color: rgb(255, 5, 5);}
}

video{
    position:absolute;
    top:0;
    z-index: -1;
}

.chat{
    margin-top:5px;
    height:100%;
    border:1px;
    border-color:rgb(255, 255, 255);
    border-style:solid;
    overflow:hidden;
}

/*
RIGHT MAIN CONTAINS
    -recent tracks
    -lower menu buttons
*/
.right_main{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;

    background-color: rgb(14, 12, 12);;
    border-color:white;
    border:1px;
    border-style:solid;
    color:white;

    width:40%;
    margin:10px;
    z-index:-2;
    
    height:90vh;
}
.title{
    text-align: center;
    font-weight:900;
    font-size:20px;
    height:50px;
    width:100%;
}
#recent_title{
    padding-top:10px;
    margin:0px;
    color: rgb(255, 255, 255);
}

.recent_tracks{
    height:77vh;
    overflow:auto;
}
.recent_tracks ul{
    list-style: none;
    margin:0;
    padding:15px;
}
.track_updater{
    /*height:80vh;*/
}
#songs_list{
    /*max-height: calc(100% - 40px);*/
}
.recent_tracks li{
    z-index:2;
    background:rgb(252, 248, 246);
    color:black;
    margin-bottom:10px;
    padding:4px;
    font-size:10px;
}

.info {
    height:35px;
    background-color: rgb(0, 0, 0);
    text-align: right;
}
.info i {
    padding:5px;
    margin-top:5px;
    margin-right:5px;
    font-size:16px;
}

/* Mobile Space */
@media only screen and (max-width: 600px) {
    #history{
        display:initial;
    }
    #history_button_b{
        display:initial;
    }
    body{
        display:unset;
        justify-content:none;
        align-items: center;
        background-color:rgb(0, 0, 0);
        font-family:monospace;
        overflow: hidden;
        margin:0;
        width:100vw;
        height:100vh;
    }
    
    /*
    LEFT MAIN CONTAINS [TOP IN MOBILE WINDOW]
        -live player elements
        -marquee
        -chat
    */
    .left_main{
        position:absolute;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        margin:0px;
        
        display: inline;
        flex-direction: none;
        justify-content: none;
    }
    .live_header{
        align-self:center;
        background-color: rgba(0, 0, 0, 0.779);
        height:70px;
        width:100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed;
        border-bottom:1px;
        border-top:0;
        border-left:0;
        border-right:0;
        border-color: rgb(255, 255, 255);
        border-style:solid;
        padding-left:0px;
        padding-right:0px;
    }
    .live_header marquee{
        color:white;
    }
    .live_header button{
        margin-left:10px;
        margin-right:10px;
        background-color: transparent;
        border-style:none;
    }
    .live_header i{
        font-size:18pt;
        color:white;
    }
    
    /*
        Blinking 'LIVE'
    */
    .live_header p{
        background-color: rgba(0, 0, 255, 0);
        color:white;
        font-family:monospace;
        font-weight:bold;
        animation-name: blink;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        margin-left:10px;
        display:none;
    }
    @keyframes blink {
        0% {color: red;}
        50% {color: rgb(255, 139, 139);}
        100% {color: rgb(255, 5, 5);}
    }
    
    video{
        position:absolute;
        top:0;
        z-index: -1;
    }
    
    .chat{
        margin-top:37px;
        margin-bottom:100px;
        height:90vh;
        border:1px;
        border-color:rgb(255, 255, 255);
        border-style:solid;
    }
    .chat_overlay{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        pointer-events:none;
        background-color: rgba(255, 0, 0, 0);
    }
    .chat_overlay_bottom{
        background-color: black;
        position:absolute;
        bottom:0;
        left:0;
        width:99.8%;
        height:27px;
    }
    
    /*
    RIGHT MAIN CONTAINS
        -recent tracks
        -lower menu buttons
    */
    .right_main{
        position:absolute;
        z-index:5;
        top:0px;
        right:-400px;
        transition: right 0.5s ease;
        border-top:0;
        border-right:0;
        border-bottom:0;
        border-left:0;
        border-style:solid;
        color:white;
        width:70vw;
        height:100vh;
        margin:0px;
        padding:0;
        justify-content:flex-start;
        background-color: rgba(0, 0, 0, 0.242);
    }
    .title{
        background-color: black;
        margin-top:10px;
        height:60px;
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content:space-between;
    }
    #recent_title{
        margin-right:50px;
    }
    .recent_tracks{
        background-color: rgb(0, 0, 0);
        display:inline;
        width:100%;
        height:84vh;
        height:85vh;
    }
    .recent_tracks p{
        transform:scale(1,1.5);
        text-align: left;
        padding-left:13px;
        padding-bottom:9px;
    }
    .recent_tracks ul{
        align-self: left;
        list-style: none;
    }
    .recent_tracks li{
        align-self:left;
        font-size:13px;
    }
    .right_main i {
        font-size:18pt;
        color:white;
    }
    .right_main button {
        margin-left:10px;
        margin-right:10px;
        background-color: transparent;
        border-style:none;
        width:20px;
        height:20px;
    }
    .info{
        display:none;
    }

} 